<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breizhbudget">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.event.ComptageActivity"
            android:parentActivityName=".ui.event.ViewEvent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.event.ViewEvent" />
        </activity>
        <activity
            android:name=".ui.event.ParticipantActivity"
            android:parentActivityName=".ui.event.ViewEvent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.event.ViewEvent" />
        </activity>
        <activity
            android:name=".ui.event.ViewEvent"
            android:parentActivityName=".ui.event.EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.event.EventActivity" />
        </activity>
        <activity
            android:name=".ui.event.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName=".Accueil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Accueil" />
        </activity>
        <activity
            android:name=".ui.event.Event"
            android:label="NewEvent"
            android:parentActivityName=".ui.event.EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.event.EventActivity" />
        </activity>
        <activity
            android:name=".Accueil"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.budgets.BudgetsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Accueil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Accueil" />
        </activity>
        <activity
            android:name=".ui.budgets.AddBudgetActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.budgets.BudgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.budgets.BudgetsActivity" />
        </activity>
        <activity
            android:name=".ui.event.TricountActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.event.ViewEvent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.event.ViewEvent" />
        </activity>
        <activity
            android:name=".ui.budgets.OneBudgetActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.budgets.BudgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.budgets.BudgetsActivity" />
        </activity>
        <activity
            android:name=".ui.budgets.AddRowActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.budgets.OneBudgetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.budgets.OneBudgetActivity"/>
        </activity>
        <activity
            android:name=".camera.OcrCaptureActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.budgets.UpdateBudgetActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.budgets.OneBudgetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.budgets.OneBudgetActivity"/></activity>
    </application>

</manifest>